In [1]:
import pandas as pd
import altair as alt

In [13]:
df = pd.read_csv("PWIT Salary Transparency Project - Salaries Information.csv")

In [17]:
df['salario_processado'] = pd.to_numeric(df['Monthly Gross Salary'].str.strip('€').str.replace(',| ', '', regex=True), errors='coerce')
df.loc[25, 'salario_processado'] = 2800 
df.loc[31, 'salario_processado'] = 4623.23
df.loc[131, 'salario_processado'] = 10229.62
df.loc[261, 'salario_processado'] = 4746.30
df.loc[269, 'salario_processado'] = 6430.08
df.loc[283, 'salario_processado'] = 13050.81
df.loc[426, 'salario_processado'] = 1690
df.loc[204, 'salario_processado'] = 1168.83
df.loc[248, 'salario_processado'] = 2126.83
df.loc[412, 'salario_processado'] = 1000
df.loc[236, 'salario_processado'] = 2000

In [46]:
def set_bin_salario(row):
    if row["salario_processado"] < 2000:
        return "menos de 2000"
    elif row["salario_processado"] >= 2000 and  row["salario_processado"] < 4000:
        return "2000-3999"
    elif row["salario_processado"] >= 4000 and  row["salario_processado"] <= 6000:
        return "4000-6000"
    else:
        return "mais de 6000"

df = df.assign(bins_salario=df.apply(set_bin_salario, axis=1))
df.rename(columns = {'Age':'idade','Gender':'genero', 'Location':'local', 'Job Tittle' : 'titulo', 'Years of post-college professional work experience':"anos_de_experiencia", "Size of Company":"tamanho_da_empresa", "Monthly Gross Salary":"salario_bruto_mensal", "Other perks":"outros_beneficios" }, inplace = True)
df.replace({'genero': "Female"}, "mulher", inplace=True)
df.replace({'genero': "Male"}, "homem", inplace=True)
df["anos_de_experiencia"] = df["anos_de_experiencia"].str.replace("years of experience", "anos de experiência")
df["anos_de_experiencia"] = df["anos_de_experiencia"].str.replace("No experience", "Sem experiência")
df["tamanho_da_empresa"] = df["tamanho_da_empresa"].str.replace("people", "pessoas")

df

,idade,genero,local,titulo,anos_de_experiencia,tamanho_da_empresa,salario_bruto_mensal,outros_beneficios,salario_processado,bins_salario
0,18-24,mulher,Porto,Accounting Assistant,< 2 anos de experiência,+ 1000 pessoas,860€,"Health insurance, Parental Bonus, First 3 days...",860.0,menos de 2000
1,35-44,mulher,Lisboa,Analytics Team Coordinator,> 16 anos de experiência,+ 200 pessoas,"1,800€","Health Insurance, Employee Discounts",1800.0,menos de 2000
2,35-44,mulher,Lisboa,Analytics Team Leader,<15 anos de experiência,+ 200 pessoas,"3,000€","Health Insurance, Gym membership",3000.0,2000-3999
3,25-34,homem,Vienna,Android Developer,<15 anos de experiência,100 - 200 pessoas,"4,500€",No,4500.0,4000-6000
4,18-24,mulher,Lisboa,Animator,Sem experiência,11 - 25 pessoas,750€,NaN,750.0,menos de 2000
...,...,...,...,...,...,...,...,...,...,...
439,25-34,mulher,Lisboa,UX/UI Designer,< 5 anos de experiência,51 - 100 pessoas,"1,500€","Health Insurance, Employee Discounts, Parental...",1500.0,menos de 2000
440,35-44,mulher,Lisboa,UX/UI Designer,< 2 anos de experiência,51 - 100 pessoas,"1,000€","health insurance, Employee Discounts",1000.0,menos de 2000
441,25-34,mulher,Loulé,UX/UI Designer,< 10 anos de experiência,1 - 10 pessoas,"2,316€",NaN,2316.0,2000-3999
442,18-24,mulher,Viana do Castelo,UX/UI Designer,< 2 anos de experiência,1 - 10 pessoas,724€,Health Insurance,724.0,menos de 2000
443,25-34,mulher,Lisboa,UX/UI Software Developer,< 5 anos de experiência,25 - 50 pessoas,"2,975€",Flexible benefits plans. In my case I chose He...,2975.0,2000-3999

In [19]:
df.to_csv("pwit_transparencia_salarial.csv")